.bestSellers{
    margin: 100px 200px;

    .top-homepage-products{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        color: rgb(156, 156, 156);

        h1{
            flex: 2;
            text-transform: capitalize;
        }

        p{
            flex: 3;
            color: grey;
        }
    }

    .bottom-homepage-products{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}