.navbar{
    height: 80px;
    padding-top: 20px;
    color: rgb(173, 173, 173);

    .wrapper-navbar{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .section-links{
            display: flex;
            align-items: center;
            font-size: 15px;
        }
        .left-section{
            display: flex;
            align-items: center;
            gap: 50px;
        }
        .center-section{
            font-size: 25px;
            letter-spacing: 2px;
        }
        .right-section{
            display: flex;
            align-items: center;
            gap: 50px;

            .section-icons{
                display: flex;
                gap: 15px;
                color: rgb(173, 173, 173);
                cursor: pointer;

                .cart-icon{
                    position: relative;
                
                    span{
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: hotpink;
                        color: rgb(173, 173, 173);
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}