.newsletter{
    background-color:rgb(237, 210, 214);
    color: whitesmoke;
    padding: 25px;
    display: flex;
    justify-content: center;

    .newsletter-wrapper{
        display: flex;
        align-items: center; 
        justify-content: space-between;
        width: 50%;

        span{
        text-align: center;
        }
        input{
            padding: 10px;
            border: none;
            border-radius: 5px 0 0  5px;
            text-align: center;
        }

        button{
            padding: 10px;
            color: whitesmoke;
            background: #333;
            border: none;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

        .icons{
            display: flex;
            margin-left: 10px;
            gap: 5px;
        }
    }
}